// animation: rotate 0.5s linear infinite;
// animation: moveUpDown 0.5s linear infinite;
// animation: moveLeftRight 0.5s linear infinite;
// animation: rotateLeftRight 0.5s linear infinite;

@keyframes scaleUp {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

@keyframes showHide {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

/* Вращение по кругу */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Движение вверх-вниз */
@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* Движение влево-вправо */
@keyframes moveLeftRight {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
}

/* Вращение влево-вправо на 45° */
@keyframes rotateLeftRight {
  0%,
  100% {
    transform: rotate(0deg) translate(0%, 0%);
  }
  50% {
    transform: rotate(6.5deg) translate(0%, 0%);
  }
}

@keyframes rotateRightLeft {
  0%,
  100% {
    transform: rotate(0deg) translate(0%, 0%);
  }
  50% {
    transform: rotate(10deg) translate(0%, 5%);
  }
}

/* Блик на банке */
@keyframes blick {
  0%,
  100% {
    transform: rotate(-18deg) translate(-18%, -50%);
  }
  50% {
    transform: rotate(-15deg) translate(-18%, 100%);
  }
}

//Scroll Down
@keyframes scrollDown {
  0%,
  100% {
    transform: translateY(0) scaleX(0.8);
  }
  50% {
    transform: translateY(-10px) scaleX(1);
  }
}

@keyframes diagonalBounce {
  0% {
    transform: translate(-1%, -1%);
    animation-timing-function: cubic-bezier(1, -0.25, 0.6, 1.93);
  }

  25% {
    transform: translate(1%, 1%);
    animation-timing-function: ease-in-out;
  }

  50% {
    transform: translate(1%, 1%);
    animation-timing-function: cubic-bezier(1, -0.25, 0.6, 1.93);
  }

  75% {
    transform: translate(-1%, -1%);
    animation-timing-function: ease-in-out;
  }

  100% {
    transform: translate(-1%, -1%);
    animation-timing-function: cubic-bezier(1, -0.25, 0.6, 1.93);
  }
}

@keyframes diagonalBounce2 {
  0% {
    transform: translate(0%, 0%);
    animation-timing-function: cubic-bezier(1, -0.25, 0.6, 1.93);
  }

  25% {
    transform: translate(3%, -1%);
    animation-timing-function: ease-in-out;
  }

  50% {
    transform: translate(3%, -1%);
    animation-timing-function: cubic-bezier(1, -0.25, 0.6, 1.93);
  }

  75% {
    transform: translate(0%, 0%);
    animation-timing-function: ease-in-out;
  }

  100% {
    transform: translate(0%, 0%);
    animation-timing-function: cubic-bezier(1, -0.25, 0.6, 1.93);
  }
}

@keyframes diagonalBounce3 {
  0% {
    transform: translate(0%, 0%);
    animation-timing-function: cubic-bezier(1, -0.25, 0.6, 1.93);
  }

  25% {
    transform: translate(-3%, 1%);
    animation-timing-function: ease-in-out;
  }

  50% {
    transform: translate(-3%, 1%);
    animation-timing-function: cubic-bezier(1, -0.25, 0.6, 1.93);
  }

  75% {
    transform: translate(0%, 0%);
    animation-timing-function: ease-in-out;
  }

  100% {
    transform: translate(0%, 0%);
    animation-timing-function: cubic-bezier(1, -0.25, 0.6, 1.93);
  }
}

@keyframes diagonalBounce4 {
  0% {
    transform: translate(0%, 0%);
    animation-timing-function: cubic-bezier(1, -0.25, 0.6, 1.93);
  }

  25% {
    transform: translate(3%, -1%);
    animation-timing-function: ease-in-out;
  }

  50% {
    transform: translate(3%, -1%);
    animation-timing-function: cubic-bezier(1, -0.25, 0.6, 1.93);
  }

  75% {
    transform: translate(0%, 0%);
    animation-timing-function: ease-in-out;
  }

  100% {
    transform: translate(0%, 0%);
    animation-timing-function: cubic-bezier(1, -0.25, 0.6, 1.93);
  }
}

@keyframes spring-bounce {
  0%,
  20% {
    transform: scale(1);
  }

  70% {
    transform: scale(0.9);
    animation-timing-function: cubic-bezier(0.5, 0, 0.2, 1.4); /* медленное сжатие */
  }

  80% {
    transform: scale(1.05); /* выстрел назад */
  }

  85% {
    transform: scale(0.99); /* первый отскок */
  }

  93% {
    transform: scale(1.02); /* второй отскок */
  }

  100% {
    transform: scale(1); /* стабилизация */
  }
}
