.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  font-size: myclamp(12px, 20px, 1440px, 1440px);
  line-height: 1;
  color: inherit;
  font-family: var(--semibold);
  padding: 8px 14px;
  z-index: 1;
  transition: color 0.3s;
  user-select: none;
  outline: none;
  cursor: pointer;
  span {
    position: relative;
    display: block;
    z-index: 2;
    letter-spacing: 0.2px;
    color: var(--white);
    text-transform: uppercase;
    transition: color 0.3s;
    pointer-events: none;
    i {
      font-size: 10px;
      position: relative;
      bottom: 8px;
      @media (max-width: 1239px) {
        font-size: 16px;
        bottom: 11px;
      }
    }
  }
  svg {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &.button--green {
    color: var(--green-light);
    &:hover {
      color: var(--lime);
      span {
        color: var(--green);
      }
    }
  }

  &.button--pink {
    padding: 8px 12px;
    color: var(--pink);
    &:hover {
      color: var(--lime);
      span {
        color: var(--green);
      }
    }
  }

  &.button--lime {
    color: var(--lime);
    span {
      color: var(--green);
    }
    &:hover {
      color: var(--pink);
      span {
        color: var(--white);
      }
    }
    &.big {
      font-family: var(--light);
      padding: 20px 42px;
      font-size: myclamp(24px, 32px, 1440px, 1440px);
      flex-shrink: 0;
      width: auto;
    }
    &.submit {
      width: 100%;
      min-height: 60px;
      padding: 20px;
      font-size: 18px;
    }
  }

  &.button--violet {
    color: var(--violet);
    background: url('../img/svg/violet-button.svg') no-repeat center center;
    background-size: contain;

    &:before {
      content: '';
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      background: url('../img/svg/violet-button-hover.svg') no-repeat center center;
      background-size: contain;
      opacity: 1;
      opacity: 0;
      transition: 0.3s;
    }

    span {
      color: var(--lime);
      font-size: 24px;
      font-family: var(--bold);
      letter-spacing: 1px;
    }
    &:hover {
      span {
        color: var(--white);
      }
      &:before {
        opacity: 1;
      }
    }
    &.submit {
      width: 100%;
      min-height: 60px;
      padding: 20px 10px;
      margin-top: 30px;
    }
  }
}

@media (max-width: 1199px) {
  .button {
    padding: 10px;
    svg {
      left: 0px;
      top: 0px;
    }
  }
}
