.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  font-size: myclamp(12px, 20px, 1440px, 1440px);
  line-height: 1;
  color: inherit;
  font-family: var(--semibold);
  padding: 4px 14px;
  z-index: 1;
  transition: color 0.3s;
  span {
    position: relative;
    display: block;
    z-index: 2;
    color: var(--white);
    text-transform: uppercase;
    transition: color 0.3s;
  }
  svg {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 100%;
    height: 100%;
  }

  &.button--green {
    color: var(--green-light);
    &:hover {
      color: var(--green);
    }
  }

  &.button--lime {
    color: var(--lime);
    span {
      color: var(--green);
    }
    &:hover {
      color: var(--pink);
    }
  }
}

@media (max-width: 1199px) {
  .button {
    padding: 10px;
    svg {
      left: 0px;
      top: 0px;
    }
  }
}
