@font-face {
  font-family: 'dinpro-regular';
  src: url('../fonts/dinpro-regular.woff2') format('woff2'), url('../fonts/dinpro-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dinpro-medium';
  src: url('../fonts/dinpro-medium.woff2') format('woff2'), url('../fonts/dinpro-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cocogoose-compressed-bold';
  src: url('../fonts/cocogoose-compressed-bold.woff2') format('woff2'), url('../fonts/cocogoose-compressed-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cocogoose-compressed-semibold';
  src: url('../fonts/cocogoose-compressed-semibold.woff2') format('woff2'), url('../fonts/cocogoose-compressed-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cocogoose-compressed-light';
  src: url('../fonts/cocogoose-compressed-light.woff2') format('woff2'), url('../fonts/cocogoose-compressed-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
