.footer {
  display: block;
  position: relative;
  z-index: 1;
  padding-bottom: 40px;
  @media (max-width: 600px) {
    padding-bottom: 26px;
  }
  padding-top: 70px;
  text-align: center;
  overflow: hidden;

  &:after,
  &:before {
    content: '';
    position: absolute;
    width: 1650px;
    height: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 0px;
    z-index: -1;
    pointer-events: none;
    @media (max-width: 1279px) {
      transform: translate(-52%, 0%);
    }
  }

  &:after {
    background: url('../img/svg/footer-bg.svg') no-repeat right top;
    mask-size: contain;
  }
  &:before {
    backdrop-filter: blur(10px);
    mask: url('../img/svg/footer-mask.svg') no-repeat right top;
    mask-size: contain;
  }

  @media (max-width: 1279px) {
    &:after {
      background: url('../img/svg/footer-bg-mobil.svg') no-repeat right top;
    }
    &:before {
      mask: url('../img/svg/footer-mask-mobil.svg') no-repeat right top;
    }
  }
}

.footer__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: myclamp(20px, 64px, 1440px, 1440px);
  margin-top: 32px;
  @media (max-width: 600px) {
    flex-direction: column;
  }
  li {
    a {
      position: relative;
      color: var(--lime);
      font-size: myclamp(16px, 18px, 1440px, 1440px);
      line-height: 1.2;
      border-bottom: 1px solid var(--lime);
      transition: 0.3s;
    }
  }
}
