.footer-sprite {
  position: relative;
  bottom: -2px;
  height: 85px;
  svg {
    width: 100%;
    height: 100%;
    position: relative;
    &.footer-sprite--mobil {
      display: none;
    }
  }
  @media (max-width: 1023px) {
    height: 50px;
    svg {
      &.footer-sprite--mobil {
        display: block;
      }
      &.footer-sprite--desctop {
        display: none;
      }
    }
  }
}

.footer {
  display: block;
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
  padding-top: 20px;
  text-align: center;
  background: var(--green-light);
}

.footer__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: myclamp(20px, 64px, 1440px, 1440px);
  margin-top: 32px;
  @media (max-width: 600px) {
    flex-direction: column;
  }
  li {
    a {
      position: relative;
      color: var(--lime);
      font-size: myclamp(16px, 18px, 1440px, 1440px);
      line-height: 1.2;
      border-bottom: 1px solid var(--lime);
      transition: 0.3s;
    }
  }
}
