.burger {
  display: none;
}

.header__background {
  display: block;
  position: absolute;
  overflow: hidden;
  right: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  min-width: 1440px;
  height: 70px;
  pointer-events: none;
  z-index: 1;

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 70px;
    top: 0px;
    z-index: -1;
    pointer-events: none;
  }

  &:after {
    background: url('../img/header.webp') no-repeat center top;
    background-size: 100% 70px;
  }
  &:before {
    backdrop-filter: blur(20px);
    mask: url('../img/header-mask.svg') no-repeat center top;
    mask-size: 100% 70px;
  }
}

.header {
  display: block;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  z-index: 20;
}

.header__content {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 8px 30px;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 80px;
  height: 20px;

  z-index: 3;
  img {
    position: relative;
    width: 80px;
    height: 66px;
    margin-top: -12px;
  }
}

.header-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 6px;
  z-index: 1;
  margin-left: myclamp(0px, 48px, 1440px, 1440px);
  @media (max-width: 1365px) {
    margin-left: myclamp(0px, 40px, 1440px, 1440px);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  flex: 1;
}

.menu {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: myclamp(20px, 48px, 1440px, 1440px);
  @media (max-width: 1365px) {
    gap: myclamp(20px, 40px, 1440px, 1440px);
  }

  li {
    &:last-child {
      display: none;
    }

    .menu__link {
      font-size: 20px;
      font-family: var(--semibold);
      text-transform: uppercase;
      color: var(--white);
      &:hover {
        color: var(--lime);
      }
    }
  }
}

@media (max-width: 1239px) {
  .burger {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 44px;
    height: 40px;
    font-size: 0px;
    z-index: 2;
    svg {
      position: absolute;
      left: -1px;
      top: -1px;
      z-index: 0;
    }
    span,
    &:before,
    &:after {
      position: absolute;
      height: 2px;
      background: var(--white);
      transition: 0.6s;
      opacity: 1;
      z-index: 1;
    }

    &:before,
    &:after {
      content: '';
      width: 22px;
    }

    span {
      width: 16px;
      transform: translate(0px, 0px);
    }
    &:before {
      transform: translate(0px, -7px) rotate(0deg);
    }
    &:after {
      transform: translate(0px, 7px) rotate(0deg);
    }

    &.open {
      span {
        transform: translate(10px, 0px);
        opacity: 0;
      }
      &:before {
        transform: translate(0px, 0px) rotate(45deg);
      }
      &:after {
        transform: translate(0px, 0px) rotate(-45deg);
      }
    }
  }

  .header {
    height: 60px;
  }

  .header__content {
    padding: 8px 12px;
  }

  .logo {
    width: 88px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%, 0%);
    margin: auto;
    img {
      width: 88px;
      height: 70px;
      margin-top: 0px;
    }
  }

  .header-buttons {
    z-index: 2;
    .button {
      &:last-child {
        display: none;
      }
    }
  }

  .navigation {
    position: fixed;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE Ð¸ Edge */
    top: 0px;
    right: 0px;
    transform: translate(0%, -100%);
    transition: 0.6s;
    padding: 0px;
    z-index: 0;
    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      display: none;
    }
    &.open {
      transform: translate(0%, -0%);
    }
  }

  .menu {
    padding: 100px 20px 120px 20px;
    width: 100%;
    min-height: 100vh;
    background: url('../img/svg/menu_mobil.svg') no-repeat center bottom;
    background-size: 100% 100%;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;

    li {
      .button {
        padding: 10px 24px;
        span {
          font-size: 32px;
        }
        svg {
          top: -2px;
        }
        &.button--pink {
          color: var(--violet);
        }
      }
      &:last-child {
        display: block;
      }

      .menu__link {
        font-size: 32px;
      }
    }
  }
}
