.main {
  display: block;
  position: relative;
  z-index: 1;
  min-height: 100vh;
}

.container {
  display: block;
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
}

.section {
  position: relative;
  text-align: center;
}

@media (max-width: 1439px) {
  .container {
    padding: 0px 20px;
  }
}

@media (max-width: 1199px) {
  .container {
    padding: 0px 12px;
  }
}
