$popup_transition: 0.4s;

body.locked {
  overflow-x: hidden;
  overflow-y: hidden;
}

.backdrop {
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 50px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity $popup_transition ease 0s, visibility $popup_transition ease 0s;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  &.active {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
}

.popup {
  position: relative;
  transition: $popup_transition;
  transform: translate(0px, 20px);
  opacity: 0;
  max-width: 100%;
  z-index: 1;
  &.visible {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  .popup-content {
    position: relative;
  }
}

.popup-close {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  transition: 0.3s;
  transform: rotate(0deg);
  z-index: 2;
  &:before,
  &:after {
    content: '';
    position: absolute;
    pointer-events: none;
    width: 80%;
    height: 2px;
    background: var(--lime);
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
  &:hover {
    transform: rotate(90deg);
  }
  @media (max-width: 1365px) {
    right: 20px;
    top: 20px;
  }
}

#ok,
#error {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;

  background: var(--bg);
  color: var(--color);
  padding: 70px;
  text-align: center;
  border-radius: 30px;
}

.popup-title {
  font-size: 50px;
  line-height: 1;
}

.popup-subtitle {
  font-size: 20px;
  line-height: 1.4;
}
