.section--table {
  padding: 40px 0px;
}

.table-wrapper {
  overflow: hidden;

  &:before,
  &:after {
    content: '';
    display: block;
    position: relative;
    width: 100%;
  }

  &:before {
    height: myclamp(70px, 150px, 1440px, 1440px);
    margin-bottom: -0px;
    background: url('../img/svg/table-lime-top-bg.svg') no-repeat center bottom;
    background-size: 100% 100%;
    @media (max-width: 499px) {
      background: url('../img/svg/table-lime-top-bg-mobil.svg') no-repeat center bottom;
    }
  }

  &:after {
    height: myclamp(60px, 86px, 1440px, 1440px);
    margin-top: -0px;
    background: url('../img/svg/table-lime-bottom-bg.svg') no-repeat center top;
    background-size: 100% 100%;
    @media (max-width: 499px) {
      background: url('../img/svg/table-lime-bottom-bg-mobil.svg') no-repeat center bottom;
    }
  }
}

.table-body {
  display: block;
  position: relative;
  width: 100%;
  color: #172d1d;
  z-index: 0;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: var(--lime);
    opacity: 0.9;
    z-index: -1;
  }
}

.table {
  text-align: left;
  margin: 0 auto;
  width: 100%;
  max-width: myclamp(375px, 900px, 1440px, 1440px);
  border-spacing: 0;
  border: none;
  table-layout: auto;
  padding: 0px 12px;
  tr {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translate(-50%, 0%);
      width: 50000px;
      height: 100%;
      z-index: -1;
    }
    th,
    td {
      position: relative;
      padding-right: myclamp(12px, 20px, 1440px, 1440px);
      &:nth-child(1),
      &:nth-child(2) {
        min-width: myclamp(0px, 180px, 1440px, 1440px);
      }
      &:nth-child(3) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: myclamp(0px, 250px, 1440px, 1440px);
        max-width: myclamp(112px, 250px, 1440px, 1440px);
      }
      &:nth-child(4) {
        padding-right: 0px;
        padding-left: myclamp(12px, 20px, 1440px, 1440px);
      }
    }
  }
  th {
    height: 46px;
    color: var(--violet);
    font-family: var(--bold);
    text-transform: uppercase;
    font-size: myclamp(18px, 24px, 1440px, 1440px);
    line-height: 1;
  }
  tbody {
    tr {
      &:nth-child(2n + 1) {
        &:before {
          background: #94b752;
        }
      }
      &:hover {
        &:before {
          background: rgba(213, 255, 115, 0.64);
        }
      }
    }
    td {
      height: 44px;
      font-family: var(--medium);
      font-size: myclamp(10px, 16px, 1440px, 1440px);
      line-height: 1.1;
    }
  }
}

.table-body__forms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  max-width: myclamp(375px, 900px, 1440px, 1440px);
  padding: 0px 12px;
  gap: 12px;
  margin: 0 auto;
  margin-bottom: myclamp(24px, 40px, 1440px, 1440px);
  @media (max-width: 919px) {
    justify-content: center;
  }
}

.pagination {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: myclamp(10px, 20px, 1440px, 1440px);
  margin-top: myclamp(24px, 40px, 1440px, 1440px);
  li {
    display: flex;
    position: relative;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}

.pagination-btn {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  font-size: myclamp(18px, 24px, 1440px, 1440px);
  line-height: 1;
  color: var(--black);
  font-family: var(--medium);
  &.active {
    color: var(--green-light);
  }
  &.left,
  &.right {
    background: var(--green-light);
    color: var(--lime);
  }
}
