.section--table {
  padding: 40px 0px;
  overflow: hidden;
}

.table-wrapper {
  overflow: hidden;
  position: relative;
  margin-top: 20px;
  padding-top: myclamp(90px, 90px, 1440px, 1920px);
  padding-bottom: myclamp(72px, 82px, 1440px, 1920px);

  @media (max-width: 767px) {
    margin-top: 0px;
  }

  &:before {
    content: '';
    position: absolute;
    width: 1690px;
    height: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 0px;
    z-index: -1;
    pointer-events: none;
  }

  &:before {
    background: url('../img/svg/table-main-bg.svg') no-repeat left top;
    background-size: contain;
  }
}

.table-body {
  display: block;
  position: relative;
  width: 100%;
  color: #172d1d;
  z-index: 0;
}

.table {
  text-align: left;
  margin: 0 auto;
  width: 100%;
  max-width: myclamp(375px, 900px, 1440px, 1440px);
  border-spacing: 0;
  border: none;
  table-layout: auto;
  padding: 0px 12px;
  tr {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translate(-50%, 0%);
      width: 1440px;
      height: 100%;
      z-index: -1;
    }
    th,
    td {
      position: relative;
      padding-right: myclamp(12px, 20px, 1440px, 1440px);
      &:nth-child(1),
      &:nth-child(2) {
        min-width: myclamp(0px, 180px, 1440px, 1440px);
      }
      &:nth-child(3) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: myclamp(0px, 250px, 1440px, 1440px);
        max-width: myclamp(112px, 250px, 1440px, 1440px);
      }
      &:nth-child(4) {
        padding-right: 0px;
        padding-left: myclamp(12px, 20px, 1440px, 1440px);
      }
    }
  }
  th {
    height: 46px;
    color: var(--violet);
    font-family: var(--bold);
    text-transform: uppercase;
    font-size: myclamp(18px, 24px, 1440px, 1440px);
    line-height: 1;
  }
  tbody {
    tr {
      &:nth-child(2n + 1) {
        &:before {
          background: #94b752;
        }
      }
      &:hover {
        &:before {
          background: rgba(213, 255, 115, 0.64);
        }
      }
    }
    td {
      height: 44px;
      font-family: var(--medium);
      font-size: myclamp(10px, 16px, 1440px, 1440px);
      line-height: 1.1;
    }
  }
}

.table-body__forms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  max-width: myclamp(375px, 900px, 1440px, 1440px);
  padding: 0px 12px;
  gap: 12px;
  margin: 0 auto;
  margin-bottom: myclamp(24px, 40px, 1440px, 1440px);
  @media (max-width: 919px) {
    justify-content: center;
  }
}

.pagination {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: myclamp(10px, 20px, 1440px, 1440px);
  margin-top: myclamp(24px, 40px, 1440px, 1440px);
  li {
    display: flex;
    position: relative;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}

.pagination-btn {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  font-size: myclamp(18px, 24px, 1440px, 1440px);
  line-height: 1;
  color: var(--black);
  font-family: var(--medium);
  &.active {
    color: var(--green-light);
  }
  &.left,
  &.right {
    background: var(--green-light);
    color: var(--lime);
  }
}

.table-background {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 680px;
  max-width: 680px;
  flex-direction: column;
  margin: 24px auto;
  padding: 60px 40px;
  @media (max-width: 679px) {
    padding: 30px 0px 50px 0px;
    min-height: 400px;
  }

  .pagination {
    margin-top: myclamp(24px, 30px, 1440px, 1440px);
  }

  .title.title--h4 {
    align-self: center;
    margin: auto;
  }

  .table {
    width: 100%;
    max-width: 100%;
    table-layout: none;
    padding: 0px;
    overflow: hidden;
    color: var(--green-dark);
    tr {
      th,
      td {
        padding: 0;
        font-size: myclamp(14px, 16px, 1440px, 1440px);
        &:nth-child(1),
        &:nth-child(2) {
          min-width: 34%;
          padding-left: 4%;
          width: 34%;
        }
        &:nth-child(3) {
          white-space: wrap;
          overflow: visible;
          text-overflow: ellipsis;
          min-width: auto;
          max-width: auto;
        }
        &:nth-child(4) {
          padding-right: 4%;
          padding-left: 0px;
        }
      }
      th {
        font-size: 24px;
      }
    }
    th {
      color: var(--violet);
    }
    tbody {
      tr {
        &:nth-child(2n + 1) {
          &:before {
            background: #ccd84d;
          }
        }
        &:hover {
          &:before {
            background: #d5ff73a3;
          }
        }
      }
    }
    &.table--prizes {
      tr {
        th,
        td {
          &:nth-child(1),
          &:nth-child(2) {
            min-width: 25%;
            padding-left: 4%;
            width: 25%;
          }
          &:nth-child(3) {
            white-space: wrap;
            overflow: visible;
            text-overflow: ellipsis;
            min-width: auto;
            max-width: auto;
            padding-right: 4%;
          }
          &:nth-child(4) {
            padding-right: 4%;
            padding-left: 0px;
            .button {
              font-size: 16px;
              padding: 4px 10px;
            }
          }
        }
      }
      th {
        color: var(--white);
      }
      tbody {
        tr {
          &:nth-child(2n + 1) {
            &:before {
              background: #e96cc2;
            }
          }
          &:hover {
            &:before {
              background: #f381cf;
            }
          }
        }
      }
    }
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
    @media (max-width: 679px) {
      width: 680px;
      left: 50%;
      transform: translate(-50%, 0%);
    }
  }

  &.table-background--lime {
    &:before {
      background: url('../img/svg/table-lk-left.svg') no-repeat center center;
      background-size: contain;
    }
  }

  &.table-background--pink {
    &:before {
      background: url('../img/svg/table-lk-right.svg') no-repeat center center;
      background-size: contain;
    }
  }

  @media (max-width: 599px) {
    .table {
      overflow: visible;
      tr {
        th,
        td {
          font-size: 12px;
          &:nth-child(1),
          &:nth-child(2) {
            word-break: break-word;
            min-width: 33.333333%;
            padding-left: 0%;
            padding-right: 3%;
            width: 33.333333%;
          }
          &:nth-child(3) {
            white-space: wrap;
            overflow: visible;
            text-overflow: ellipsis;
            min-width: auto;
            max-width: auto;
          }
          &:nth-child(4) {
            padding-right: 0%;
            padding-left: 3%;
          }
        }
        th {
          font-size: 18px;
        }
      }
      &.table--prizes {
        tr {
          th,
          td {
            &:nth-child(1),
            &:nth-child(2) {
              padding-left: 0%;
              padding-right: 3%;
            }
            &:nth-child(3) {
              padding-right: 2%;
            }
            &:nth-child(4) {
              padding-right: 0%;
              .button {
                font-size: 12px;
                padding: 4px 10px;
              }
            }
          }
        }
        th {
          color: var(--white);
        }
        tbody {
          tr {
            &:nth-child(2n + 1) {
              &:before {
                background: #e96cc2;
              }
            }
            &:hover {
              &:before {
                background: #f381cf;
              }
            }
          }
        }
      }
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      z-index: -1;
      @media (max-width: 679px) {
        width: 680px;
        left: 50%;
        transform: translate(-50%, 0%);
      }
    }

    &.table-background--lime {
      &:before {
        background: url('../img/svg/table-lk-left.svg') no-repeat center center;
        background-size: contain;
      }
    }

    &.table-background--pink {
      &:before {
        background: url('../img/svg/table-lk-right.svg') no-repeat center center;
        background-size: contain;
      }
    }
  }
}
