.section--faq {
  padding-top: 50px;
  overflow: hidden;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: myclamp(20px, 40px, 1440px, 1440px);
  }
  @media (max-width: 450px) {
    .title.title--h2 {
      max-width: 290px;
    }
  }
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 668px;
  width: 100%;
  padding: 70px 120px 70px 70px;
  @media (max-width: 1439px) {
    padding: 70px 120px 70px 0px;
  }
  &:after,
  &:before {
    content: '';
    position: absolute;
    width: 960px;
    height: 100%;
    right: 0px;
    top: 0px;
    z-index: -1;
    pointer-events: none;
  }

  &:after {
    background: url('../img/svg/faq-bg.svg') no-repeat right top;
    mask-size: contain;
  }
  &:before {
    backdrop-filter: blur(10px);
    mask: url('../img/svg/faq-mask.svg') no-repeat right top;
    mask-size: contain;
  }
}

.accordeon {
  display: block;
  width: 100%;
  position: relative;
  text-align: left;
}

.accordeon__question {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: 16px 0px;
  padding-right: 44px;
  cursor: pointer;
  p {
    display: block;
    pointer-events: none;
    font-family: var(--semibold);
    color: var(--lime);
    font-size: 18px;
  }
}

.accordeon__answer {
  display: block;
  position: relative;
  width: 100%;
  height: 0px;
  transition: 0.3s;
  overflow: hidden;
  p {
    font-size: 16px;
    line-height: 1.4;
    display: block;
    padding: 8px 0px 20px 30px;
  }
  ul {
    font-size: 16px;
    line-height: 1.4;
    display: block;
    padding: 0px 0px 6px 40px;
    li {
      font-size: 14px;
      padding: 4px 0px;
      list-style: disc;
    }
    &.small {
      li {
        font-size: 12px;
        padding: 1px 0px;
      }
    }
  }
}

.accordeon-button {
  display: flex;
  position: absolute;
  right: 0px;
  top: 16px;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 24px;
  height: 24px;
  background: var(--green);
  color: var(--lime);
  z-index: 2;

  svg {
    position: absolute;
    width: 12px;
    height: 12px;
    transition: 0.3s;
    transform: rotate(0deg);
    pointer-events: none;
  }
}

.active {
  .accordeon-button svg {
    color: var(--white);
    transform: rotate(45deg);
  }
}

.callback {
  position: relative;
  padding: 70px 50px 70px 90px;
  width: 100%;
  max-width: 480px;
  min-height: 630px;
  .subtitle {
    margin: 10px 0px 24px 0px;
  }
  .form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 12px;
  }

  &:after,
  &:before {
    content: '';
    position: absolute;
    width: 530px;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
    pointer-events: none;
  }

  &:after {
    background: url('../img/svg/callback-bg.svg') no-repeat left top;
    background-size: contain;
  }
  &:before {
    backdrop-filter: blur(10px);
    mask: url('../img/svg/callback-mask.svg') no-repeat left top;
    mask-size: contain;
  }
}

// TABLET
@media (max-width: 1279px) {
  .section--faq {
    padding-bottom: 0px;
    .container {
      flex-wrap: wrap;
      gap: 0px;
    }
    .title.title--h4 {
      font-size: 32px;
    }
  }

  .questions {
    min-height: 630px;
    padding: 40px 90px;
    max-width: 1024px;
    margin: 0 auto;
    &:after,
    &:before {
      width: 1010px;
      right: auto;
      left: 50%;
      transform: translate(-50%, 0%);
    }
    &:after {
      background: url('../img/svg/faq-bg-mobil.svg') no-repeat right top;
    }
    &:before {
      mask: url('../img/svg/faq-mask-mobil.svg') no-repeat right top;
    }
  }

  .callback {
    max-width: 570px;
    min-height: 100%;
    margin: 0 auto;
    padding: 70px 90px 70px 90px;
    margin-bottom: 50px;
    .form {
      width: 100%;
      max-width: 375px;
      margin: 0 auto;
    }
    &:after,
    &:before {
      width: 570px;
      left: 50%;
      transform: translate(-50%, 0%);
    }
    &:after {
      background: url('../img/svg/callback-bg-mobil.svg') no-repeat left top;
    }
    &:before {
      mask: url('../img/svg/callback-mask-mobil.svg') no-repeat left top;
    }
  }
}

// MOBIL
@media (max-width: 767px) {
  .questions {
    min-height: 630px;
    padding: 70px 0px;
  }
  .callback {
    padding: 70px 0px;
  }

  .accordeon__answer p {
    font-size: 15px;
    line-height: 1.4;
    display: block;
    padding: 0px 20px 10px 20px;
  }
}
