.section--hero {
  position: relative;
  padding-top: myclamp(80px, 158px, 1440px, 1440px);
  height: 800px;
  @media (max-width: 767px) {
    overflow: hidden;
  }
  .title,
  strong,
  b {
    position: relative;
    z-index: 2;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .title--h1 {
      width: 50%;
      @media (max-width: 1023px) {
        width: 100%;
      }
      span {
        display: inline-flex;
        justify-content: flex-end;
        position: relative;
        padding-left: myclamp(5px, 14px, 1440px, 1440px);
        line-height: 1;
        z-index: 0;

        &:before {
          content: '';
          display: block;
          position: absolute;
          top: -15%;
          left: 0px;
          bottom: -10%;
          width: calc(100% + myclamp(15px, 20px, 1440px, 1440px));
          background: var(--black);
          clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 100%, 0% 100%);
          z-index: -1;
        }
        &:first-child {
          &:before {
            top: -25%;
          }
        }
        &:last-child {
          &:before {
            bottom: -20%;
          }
        }
        &.pink {
          &:before {
            width: calc(100% + myclamp(20px, 30px, 1440px, 1440px));
            clip-path: polygon(0 0, 100% 0, calc(100% - 20px) 100%, 0% 100%);
          }
        }
      }
      &.title--prize {
        text-align: right;
        margin-top: 20px;

        @media (max-width: 1439px) {
          font-size: myclamp(30px, 48px, 1366px, 1366px);
        }
        @media (max-width: 1023px) {
          padding-left: calc(100% - myclamp(220px, 300px, 1024px, 1024px));
          margin-top: -26px;
          br {
            display: none;
          }
        }
      }
    }
    .title--h5 {
      position: relative;
      display: inline-flex;
      width: auto;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: left;
      padding: 58px 36px 36px 46px;
      @media (max-width: 1023px) {
        padding: 30px 26px 24px 30px;
        position: absolute;
        bottom: 140px;
        right: 10px;
      }
      @media (max-width: 500px) {
        right: -30px;
        font-size: 18px;
        padding-right: 40px;
        padding-left: 32px;
        line-height: 1.2;
        bottom: 130px;
      }
      margin-top: -50px;
      margin-left: auto;
      svg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        right: 0px;
        z-index: 0;
      }
      span {
        position: relative;
        z-index: 1;
      }
    }
  }
}

.hero-image {
  display: flex;
  position: absolute;
  bottom: -100px;
  left: 50%;
  margin-left: myclamp(-190px, -400px, 1440px, 1440px);
  width: 800px; //450 800
  .lightnings {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    @media (max-width: 767px) {
      transform: rotate(10deg);
      bottom: 5%;
      right: 2%;
    }
  }
  @media (max-width: 1439px) {
    margin-left: myclamp(-190px, -390px, 1440px, 1440px);
  }
  @media (max-width: 1279px) {
    width: 700px;
    margin-left: myclamp(-190px, -390px, 1440px, 1440px);
    .boble {
      left: 22%;
      top: -50px;
    }
  }
  @media (max-width: 1023px) {
    width: 600px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-left: -20px;
  }
  @media (max-width: 767px) {
    width: myclamp(450px, 800px, 1440px, 1440px);
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: 0px;
    margin-left: -20px;
    .boble {
      left: 17%;
      top: -60px;
    }
  }
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 0;
  img {
    position: absolute;
    will-change: transform;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    &.hero-image__arm,
    &.hero-image__arm_shadow {
      transform-origin: center center;
      &.animate {
        animation: rotateLeftRight 2.8s linear infinite;
      }
    }
    &.hero-image__lightning1 {
      &.animate {
        animation: diagonalBounce 2s cubic-bezier(1, -0.25, 0.6, 1.93) infinite;
      }
    }
    &.hero-image__lightning2 {
      &.animate {
        animation: diagonalBounce2 2s cubic-bezier(1, -0.25, 0.6, 1.93) infinite;
      }
    }
    &.hero-image__lightning3 {
      &.animate {
        animation: diagonalBounce3 2s cubic-bezier(1, -0.25, 0.6, 1.93) infinite;
      }
    }
    &.hero-image__lightning4 {
      &.animate {
        animation: diagonalBounce4 2s cubic-bezier(1, -0.25, 0.6, 1.93) infinite;
      }
    }
    &.hero-image__blik {
      width: 40%;
      top: 10%;
      &.animate {
        animation: blick 2.8s linear infinite;
      }
    }
  }
  &:before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 105%;
  }
}

.scroll-down {
  display: block;
  width: 48px;
  height: 48px;
  position: absolute;
  z-index: 4;
  left: 50%;
  margin-left: -24px;
  bottom: 8%;
  transition: color 0.3s;
  color: var(--violet);
  &.animate {
    animation: scrollDown 1.5s linear infinite;
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--pink);
    }
  }
  svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  @media (max-width: 767px) {
    bottom: auto;
    top: 660px;
  }
}

.boble {
  position: absolute;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  left: 15%;
  top: 0%;
  z-index: 3;
  font-size: myclamp(18px, 24px, 1440px, 1440px);
  line-height: 1;
  text-align: center;
  font-family: var(--bold);
  color: var(--violet);
  padding-left: 22.5px;
  padding-top: 12.5px;
  padding-right: 30.5px;
  padding-bottom: 17.5px;
  background: url('../img/svg/boble.svg') no-repeat center center;
  background-size: 100% 100%;
}
