.text-content {
  display: flex;
  position: relative;
  gap: 20px;
  flex-direction: column;
  width: 100%;
  z-index: 1;
}

.title {
  display: block;
  text-transform: uppercase;

  &.title--h1 {
    font-size: myclamp(30px, 56px, 1366px, 1366px);
    line-height: 1.07;
    text-align: left;
  }

  &.title--h2 {
    display: inline-flex;
    position: relative;
    width: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    font-size: myclamp(48px, 74px, 1440px, 1440px);
    padding: 10px 20px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.1;
    background: url('../img/svg/title-bg.svg') no-repeat center center;
    background-size: 100% 100%;
    z-index: 0;
    &.invers {
      background: url('../img/svg/title-bg-invers.svg') no-repeat center center;
    }
    @media (max-width: 767px) {
      padding: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }
    @media (max-width: 374px) {
      font-size: myclamp(40px, 74px, 1440px, 1440px);
    }
  }

  &.title--h3 {
    font-size: myclamp(48px, 64px, 1440px, 1440px);
    line-height: 1;
  }

  &.title--h4 {
    font-size: myclamp(18px, 32px, 1440px, 1440px);
    line-height: 1.2;
    @media (max-width: 767px) {
      font-size: 24px;
    }
  }

  &.title--h5 {
    font-size: myclamp(18px, 30px, 1440px, 1440px);
    line-height: 1;
  }
  &.title--h6 {
    font-size: myclamp(18px, 24px, 1440px, 1440px);
    line-height: 1;
  }
}

.subtitle {
  display: block;
  font-size: myclamp(14px, 16px, 1440px, 1440px);
  line-height: 1.4;
}
