<div class="popup-content" id="ok">
  <button class="popup-close" data-popup-close></button>
  <h2 class="popup-title">Спасибо <br />за подписку!</h2>
  <p class="popup-subtitle">
    Промокод на дополнительные <br />
    10% к первой арендной плате <br />
    уже на вашей почте
  </p>
  <button class="button" data-popup-open="error">ОШИБКА</button>
</div>

<div class="popup-content" id="error">
  <button class="popup-close" data-popup-close></button>
  <h2 class="popup-title">Ошибка</h2>
  <p class="popup-subtitle">
    Промокод на дополнительные <br />
    10% к первой арендной плате <br />
    уже на вашей почте
  </p>
</div>

<div class="popup-content" id="login">
  <button class="popup-close" data-popup-close></button>
  <h2 class="popup-title">login</h2>
  <p class="popup-subtitle">
    Промокод на дополнительные <br />
    10% к первой арендной плате <br />
    уже на вашей почте
  </p>
</div>

<div class="popup-content" id="register">
  <button class="popup-close" data-popup-close></button>
  <h2 class="popup-title">register</h2>
  <p class="popup-subtitle">
    Промокод на дополнительные <br />
    10% к первой арендной плате <br />
    уже на вашей почте
  </p>
</div>
