<!--LOGIN POPUP-->
<div class="popup-content" id="login">
  <button class="popup-close" data-popup-close></button>
  <h2 class="popup-title">Авторизация</h2>
  <form action="#" method="POST" class="form" novalidate>
    <label class="label">
      <span data-label>Email*</span>
      <input type="email" name="email" class="input" required />
    </label>
    <label class="label">
      <span data-label>Пароль*</span>
      <input type="password" name="password" class="input" required />
    </label>
    <button type="submit" class="button button--violet submit">
      <span>Войти</span>
    </button>
  </form>
  <div class="popup-links">
    <a href="#" data-popup-open="password-recovery">Забыли пароль?</a>
    <a href="#" data-popup-open="registration">Регистрация</a>
  </div>
</div>

<!--PASSWORD RECOVERY POPUP-->
<div class="popup-content" id="password-recovery">
  <button class="popup-close" data-popup-close></button>
  <h2 class="popup-title">Восстановите <br />пароль</h2>
  <form action="#" method="POST" class="form" novalidate>
    <label class="label">
      <span data-label>Email указанный при регистрации*</span>
      <input type="email" name="email" class="input" required />
    </label>
    <button type="submit" class="button button--violet submit">
      <span>Восстановить</span>
    </button>
  </form>
  <div class="popup-links">
    <a href="#" data-popup-open="login">Авторизация</a>
  </div>
</div>

<!--REGISTRATION POPUP-->
<div class="popup-content" id="registration">
  <button class="popup-close" data-popup-close></button>
  <h2 class="popup-title">Регистрация</h2>
  <form action="#" method="POST" class="form" novalidate>
    <label class="label">
      <span data-label>Фамилия*</span>
      <input type="text" name="sername" class="input" required />
    </label>
    <label class="label">
      <span data-label>Имя*</span>
      <input type="text" name="name" class="input" required />
    </label>
    <label class="label">
      <span data-label>Дата рождения</span>
      <input type="date" name="birthday" class="input" />
    </label>
    <label class="label">
      <span data-label>E-mail*</span>
      <input type="email" name="email" class="input" required />
    </label>
    <label class="label">
      <span data-label>Телефон*</span>
      <input type="tel" name="phone" class="input" required />
    </label>
    <label>
      <input type="checkbox" name="rules" class="checkbox" required />
      <span class="agree__text">
        Я ознакомился с&nbsp;<a href="#" target="_blank">Правилами акции</a>, <a href="#" target="_blank">Пользовательским соглашением</a> и даю своё
        согласие на обработку персональных данных
      </span>
    </label>
    <label>
      <input type="checkbox" name="agree" class="checkbox" required />
      <span class="agree__text">
        Я даю согласие на получение <br />рекламной рассылки (в т.ч. в виде <br />смс, электронных писем и/или <br />через мессенджеры)</span
      >
    </label>
    <button type="submit" class="button button--violet submit">
      <span>Зарегистрироваться</span>
    </button>
  </form>
  <div class="popup-links">
    <a href="#" data-popup-open="login">Авторизация</a>
  </div>
</div>

<!--REGISTRATION CHECK POPUP-->
<div class="popup-content" id="register-check">
  <button class="popup-close" data-popup-close></button>
  <h2 class="popup-title">Загрузка чека</h2>
  <ul class="register-check-list">
    <li>
      <img src="../assets/img/svg/register-check-list-1.svg" alt="Gorilla energy drink" />
      <span>Нажми «Загрузить»</span>
    </li>
    <li>
      <img src="../assets/img/svg/register-check-list-2.svg" alt="Gorilla energy drink" />
      <span>Выбери фото чека</span>
    </li>
    <li>
      <img src="../assets/img/svg/register-check-list-3.svg" alt="Gorilla energy drink" />
      <span>Фото чека должно быть:</span>
      <ul>
        <li>чётким</li>
        <li>с полным списком продуктов</li>
        <li>на фото должен быть QR код</li>
      </ul>
    </li>
    <li>
      <img src="../assets/img/svg/register-check-list-4.svg" alt="Gorilla energy drink" />
      <span>Если фото окажется плохого качества, чек принят не будет</span>
    </li>
  </ul>
  <div class="example">
    <img src="../assets/img/check.webp" alt="Gorilla energy drink" />
    <span>Пример чека</span>
  </div>

  <button type="button" class="button button--violet submit" data-popup-open="load-cheque">
    <span>Загрузить</span>
  </button>
  <div class="popup-links">
    <a href="#" data-popup-open="self-cheque-in">Ввести данные чека вручную</a>
  </div>
</div>

<!--LOAD CHECK POPUP-->
<div class="popup-content" id="load-cheque">
  <button class="popup-close" data-popup-close></button>
  <h2 class="popup-title">Загрузка чека</h2>
  <form class="form" enctype="multipart/form-data" novalidate onsubmit="Popup.open('login')">
    <div class="download-file">
      <label class="label-for-file">
        <input type="file" name="cheque" class="input input-file" required />
        <img src="./assets/img/svg/plus.svg" alt="Алёнка" />
        <p class="label__text" data-text="Перетащите фото чека или нажмите для выбора">Перетащите фото чека или нажмите для выбора</p>
      </label>
    </div>
    <button type="submit" class="button button--violet submit">
      <span>Загрузить</span>
    </button>
  </form>
  <div class="popup-links">
    <a href="#" data-popup-open="self-cheque-in">Ввести данные чека вручную</a>
  </div>
</div>

<!--REGISTRATION CHECK YOURSELF POPUP-->
<div class="popup-content" id="self-cheque-in">
  <button class="popup-close" data-popup-close></button>
  <h2 class="popup-title">Ввод данных чека</h2>
  <p class="popup-subtitle">Внимательно введи <br />данные чека в поля ниже</p>
  <form action="#" method="POST" class="form" novalidate>
    <label class="label">
      <span data-label>ФН*</span>
      <input type="text" name="fn" class="input" required />
    </label>
    <label class="label">
      <span data-label>ФД*</span>
      <input type="text" name="fd" class="input" required />
    </label>
    <label class="label">
      <span data-label>ФП*</span>
      <input type="text" name="fp" class="input" required />
    </label>
    <label class="label">
      <span data-label>Дата покупки*</span>
      <input type="date" name="buydate" class="input" required />
    </label>
    <label class="label">
      <span data-label>Время покупки*</span>
      <input type="time" name="time" class="input" required />
    </label>
    <label class="label">
      <span data-label>Сумма покупки*</span>
      <input type="number" name="sum" class="input" required />
    </label>
    <button type="submit" class="button button--violet submit">
      <span>Отправить чек</span>
    </button>
  </form>
  <div class="popup-links">
    <a href="#" data-popup-open="load-cheque">Попробовать снова загрузить фото</a>
  </div>
</div>
