@charset "UTF-8";
:root {
  --regular: "dinpro-regular", sans-serif;
  --medium: "dinpro-medium", sans-serif;
  --semibold: "cocogoose-compressed-semibold", sans-serif;
  --bold: "cocogoose-compressed-bold", sans-serif;
  --bg: #172d1d;
  --color: #ffffff;
  --white: #ffffff;
  --black: #000000;
  --violet: #5c427f;
  --lime: #cfda46;
  --pink: #eb5dbf;
  --green: #114841;
  --green-light: #007567;
  --green-dark: #172d1d;
  --input-font-family: "dinpro-regular", sans-serif;
  --input-font-size: 14px;
  --input-background: #ffffff;
  --input-border: #000000;
  --input-color: #000000;
  --input-placeholder-color: #000000;
  --invalid: red;
}

@font-face {
  font-family: "dinpro-regular";
  src: url("../fonts/dinpro-regular.woff2") format("woff2"), url("../fonts/dinpro-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "dinpro-medium";
  src: url("../fonts/dinpro-medium.woff2") format("woff2"), url("../fonts/dinpro-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cocogoose-compressed-bold";
  src: url("../fonts/cocogoose-compressed-bold.woff2") format("woff2"), url("../fonts/cocogoose-compressed-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cocogoose-compressed-semibold";
  src: url("../fonts/cocogoose-compressed-semibold.woff2") format("woff2"), url("../fonts/cocogoose-compressed-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Вращение по кругу */
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Движение вверх-вниз */
@-webkit-keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
/* Движение влево-вправо */
@-webkit-keyframes moveLeftRight {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
}
@keyframes moveLeftRight {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
}
/* Вращение влево-вправо на 45° */
@-webkit-keyframes rotateLeftRight {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  75% {
    transform: rotate(-45deg);
  }
}
@keyframes rotateLeftRight {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  75% {
    transform: rotate(-45deg);
  }
}
.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 50;
  background-color: var(--violet);
  transition: 0.6s;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.preloader.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.preloader span {
  width: 100px;
  height: 100px;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.preloader span:before {
  content: "";
  width: 100%;
  height: 100%;
  border-left: 1px solid var(--color);
  border-top: 1px solid var(--color);
  border-right: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-radius: 150px;
  display: block;
  position: absolute;
  -webkit-animation: rotate 0.6s linear infinite;
          animation: rotate 0.6s linear infinite;
}
.preloader span img {
  position: absolute;
  width: 60%;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--bg);
  color: var(--color);
  font-family: var(--regular);
  line-height: 1.4;
  overflow-x: hidden;
  overflow-y: auto;
}

.background {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}
.background img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;
  opacity: 1;
}
@media (max-width: 1199px) {
  .background img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-family: var(--bold);
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  background: none;
  color: inherit;
}
button:disabled {
  cursor: auto;
  pointer-events: none;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.icon {
  display: block;
  width: 100%;
  height: auto;
}

.main {
  display: block;
  position: relative;
  z-index: 1;
}

.container {
  display: block;
  width: 100%;
  max-width: 1380px;
  padding: 0px 30px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .container {
    padding: 0px 12px;
  }
}
.burger {
  display: none;
}

.header {
  display: block;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  z-index: 20;
}

.header__content {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  max-width: 1380px;
  padding: 10px 30px;
  margin: 0 auto;
  gap: 20px;
}
.header__content .header-bg {
  position: absolute;
  top: 0px;
  left: 20px;
  width: 100%;
  height: 64px;
  z-index: 0;
}
.header__content:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 23px;
  border-radius: 20px;
  width: calc(100% - 20px);
  height: 48px;
  z-index: 0;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 80px;
  height: 20px;
  z-index: 1;
}
.logo img {
  position: relative;
  width: 80px;
  height: 66px;
  margin-top: -12px;
}

.header-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.menu {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: clamp(20px, 3.4722vw, 50px);
}
.menu li:last-child {
  display: none;
}
.menu li .menu__link {
  font-size: 20px;
  font-family: var(--semibold);
  text-transform: uppercase;
  color: var(--white);
}
.menu li .menu__link:hover {
  color: var(--lime);
}

@media (max-width: 1199px) {
  .burger {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 44px;
    height: 40px;
    font-size: 0px;
    z-index: 2;
  }
  .burger svg {
    position: absolute;
    left: -1px;
    top: -1px;
    z-index: 0;
  }
  .burger span, .burger:before, .burger:after {
    position: absolute;
    height: 2px;
    background: var(--white);
    transition: 0.6s;
    opacity: 1;
    z-index: 1;
  }
  .burger:before, .burger:after {
    content: "";
    width: 22px;
  }
  .burger span {
    width: 16px;
    transform: translate(0px, 0px);
  }
  .burger:before {
    transform: translate(0px, -7px) rotate(0deg);
  }
  .burger:after {
    transform: translate(0px, 7px) rotate(0deg);
  }
  .burger.open span {
    transform: translate(10px, 0px);
    opacity: 0;
  }
  .burger.open:before {
    transform: translate(0px, 0px) rotate(45deg);
  }
  .burger.open:after {
    transform: translate(0px, 0px) rotate(-45deg);
  }
  .header {
    height: 60px;
  }
  .header:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    left: 0px;
    top: 0px;
    width: 100%;
    height: calc(100% - 10px);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  .header__content {
    padding: 8px 12px;
  }
  .header__content .header-bg {
    display: none;
  }
  .header__content:before {
    display: block;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    width: 100%;
    height: 80px;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    background: url("../img/svg/header_mobil.svg") no-repeat;
    background-size: 100% auto;
    pointer-events: none;
    z-index: 2;
  }
  .logo {
    width: 88px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%, 0%);
    margin: auto;
    z-index: 2;
  }
  .logo img {
    width: 88px;
    height: 70px;
    margin-top: 0px;
  }
  .header-buttons {
    z-index: 2;
  }
  .header-buttons .button:last-child {
    display: none;
  }
  .navigation {
    position: fixed;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE и Edge */
    top: 0px;
    right: 0px;
    transform: translate(0%, -100%);
    transition: 0.6s;
    padding: 0px;
    z-index: 0;
  }
  .navigation::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
  }
  .navigation.open {
    transform: translate(0%, 0%);
  }
  .menu {
    padding: 120px 20px 120px 20px;
    width: 100%;
    background: url("../img/svg/menu_mobil.svg") no-repeat center bottom;
    background-size: 100% 100%;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
  }
  .menu li:last-child {
    display: block;
  }
  .menu li:last-child .button {
    padding: 10px 24px;
  }
  .menu li:last-child .button span {
    font-size: 32px;
  }
  .menu li:last-child .button svg {
    top: -2px;
  }
  .menu li .menu__link {
    font-size: 32px;
  }
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  font-size: clamp(12px, 1.3889vw, 20px);
  line-height: 1;
  color: inherit;
  font-family: var(--semibold);
  padding: 4px 14px;
  z-index: 1;
  transition: color 0.3s;
}
.button span {
  position: relative;
  display: block;
  z-index: 2;
  color: var(--white);
  text-transform: uppercase;
  transition: color 0.3s;
}
.button svg {
  position: absolute;
  left: -1px;
  top: -1px;
  width: 100%;
  height: 100%;
}
.button.button--green {
  color: var(--green-light);
}
.button.button--green:hover {
  color: var(--green);
}
.button.button--lime {
  color: var(--lime);
}
.button.button--lime span {
  color: var(--green);
}
.button.button--lime:hover {
  color: var(--pink);
}

@media (max-width: 1199px) {
  .button {
    padding: 10px;
  }
  .button svg {
    left: 0px;
    top: 0px;
  }
}
.text-content {
  display: flex;
  position: relative;
  gap: 20px;
  flex-direction: column;
  width: 100%;
  z-index: 1;
}

.title {
  display: block;
  text-transform: uppercase;
}
.title.title--h1 {
  font-size: clamp(30px, 3.8889vw, 56px);
  line-height: 1.07;
}
.title.title--h2 {
  font-size: clamp(20px, 4.1667vw, 60px);
  line-height: 1;
}
.title.title--h3 {
  font-size: clamp(20px, 3.4722vw, 50px);
  line-height: 1;
}
.title.title--h4 {
  font-size: clamp(20px, 2.7778vw, 40px);
  line-height: 1;
}
.title.title--h5 {
  font-size: clamp(20px, 2.0833vw, 30px);
  line-height: 1;
}
.title.title--h6 {
  font-size: clamp(14px, 1.3889vw, 20px);
  line-height: 1;
}

.subtitle {
  display: block;
  font-size: clamp(14px, 0.8333vw, 32px);
  line-height: 1.4;
}

.input {
  width: 100%;
  height: 32px;
  background: var(--input-background);
  border: 1px solid var(--input-border);
  font-family: var(--input-font-family);
  font-size: clamp(18px, 1.1458vw, 44px);
  color: var(--input-color);
  padding: 0px clamp(20px, 1.875vw, 72px);
  border-radius: clamp(25px, 2.0833vw, 80px);
  outline: none;
  transition: 0.3s;
}
.input::-moz-placeholder {
  opacity: 1;
  -moz-transition: 0.3s;
  transition: 0.3s;
  color: var(--input-placeholder-color);
  font-family: var(--input-font-family);
  font-size: var(--input-font-size);
}
.input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: 0.3s;
  transition: 0.3s;
  color: var(--input-placeholder-color);
  font-family: var(--input-font-family);
  font-size: var(--input-font-size);
}
.input::placeholder {
  opacity: 1;
  transition: 0.3s;
  color: var(--input-placeholder-color);
  font-family: var(--input-font-family);
  font-size: var(--input-font-size);
}
.input.invalid {
  border: 2px solid var(--invalid);
  color: var(--invalid);
}
.input:focus::-moz-placeholder {
  opacity: 0;
}
.input:focus:-ms-input-placeholder {
  opacity: 0;
}
.input:focus::placeholder {
  opacity: 0;
}

.radio,
.checkbox {
  display: none;
}
.radio + span,
.checkbox + span {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  width: 100%;
  font-family: var(--regular);
  padding-left: clamp(52px, 3.125vw, 121px);
  font-size: clamp(10px, 0.7292vw, 28px);
  line-height: 1.2;
  color: var(--color);
  cursor: pointer;
}
.radio + span a,
.checkbox + span a {
  display: inline;
  text-decoration: underline;
  width: auto;
}
.radio + span:before,
.checkbox + span:before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  width: 30px;
  height: 30px;
  border: 2px solid #f1f1f1;
  background: #f1f1f1;
  transition: border 0.3s;
}
.radio:checked + span:before,
.checkbox:checked + span:before {
  background: #f1f1f1 url("../img/svg/checkbox.svg") no-repeat center center;
  background-size: 60% 60%;
}
.radio.invalid + span,
.checkbox.invalid + span {
  color: var(--invalid);
}
.radio.invalid + span:before,
.checkbox.invalid + span:before {
  border: 2px solid var(--invalid);
}

.input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #f1f1f1 inset !important;
  -webkit-text-fill-color: var(--input-color) !important;
  font-size: var(--input-font-size) !important;
  font-family: var(--input-font-family) !important;
  -webkit-transition: background-color 9999s ease-in-out 0s;
  transition: background-color 9999s ease-in-out 0s;
}

.inputError {
  display: block;
  width: 100%;
  height: 0px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  color: var(--invalid);
  font-size: 12px;
  font-family: var(--medium);
}
.inputError span {
  display: block;
  padding-top: 5px;
}

.footer {
  display: block;
  position: relative;
  z-index: 1;
  padding: 100px 0px;
}

body.locked {
  overflow-x: hidden;
  overflow-y: hidden;
}

.backdrop {
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 50px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.4s ease 0s, visibility 0.4s ease 0s;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.popup {
  position: relative;
  transition: 0.4s;
  transform: translate(0px, 20px);
  opacity: 0;
  max-width: 100%;
  z-index: 1;
}
.popup.visible {
  opacity: 1;
  transform: translate(0px, 0px);
}
.popup .popup-content {
  position: relative;
}

.popup-close {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  transition: 0.3s;
  transform: rotate(0deg);
  z-index: 2;
}
.popup-close:before, .popup-close:after {
  content: "";
  position: absolute;
  pointer-events: none;
  width: 80%;
  height: 2px;
  background: var(--lime);
}
.popup-close:before {
  transform: rotate(45deg);
}
.popup-close:after {
  transform: rotate(-45deg);
}
.popup-close:hover {
  transform: rotate(90deg);
}
@media (max-width: 1365px) {
  .popup-close {
    right: 20px;
    top: 20px;
  }
}

#ok,
#error {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  background: var(--bg);
  color: var(--color);
  padding: 70px;
  text-align: center;
  border-radius: 30px;
}

.popup-title {
  font-size: 50px;
  line-height: 1;
}

.popup-subtitle {
  font-size: 20px;
  line-height: 1.4;
}

.section--hero {
  padding-top: 200px;
}